$mq-mobile-portrait   : 320px  !default;
$mq-mobile-landscape  : 480px  !default;
$mq-tablet-portrait   : 768px  !default;
$mq-tablet-landscape  : 980px  !default;
$mq-desktop           : 1200px !default;


//MOBILE
// Both portrait and landscape
@mixin mobile-only {
  @media (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the portrait width of the phone
// Since it's the smallest query it doesn't need a min
@mixin mobile-portrait-only {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything up to and including the mobile portrait
@mixin mobile-portrait-and-below {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything above and including the mobile portrait
@mixin mobile-portrait-and-up {
  @media (min-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everthing larger than a portrait mobile up until mobile landscape
@mixin mobile-landscape-only {
  @media only screen and (min-width : $mq-mobile-portrait + 1) and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the mobile landscape width
@mixin mobile-landscape-and-below {
  @media only screen and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything above and including the mobile landscape width
@mixin mobile-landscape-and-up {
  @media only screen and (min-width : $mq-mobile-portrait + 1) {
    @content;
  }
}

// tablet
// ------------------------------

// Both the portrait and landscape width of the tablet
// Larger than a landscape mobile but less than or equal to a landscape tablet
@mixin tablet-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than mobile landscape up until the portrait width of the tablet
@mixin tablet-portrait-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything below and including the portrait width of the tablet
@mixin tablet-portrait-and-below {
  @media only screen and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything above and including the portrait width of the tablet
@mixin tablet-portrait-and-up {
  @media only screen and (min-width : $mq-mobile-landscape + 1) {
    @content;
  }
}

// Larger than portrait but less than or equal to the landscape width
@mixin tablet-landscape-only {
  @media only screen and (min-width : $mq-tablet-portrait + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Up to and including the tablet landscape
@mixin tablet-landscape-and-below {
  @media only screen and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than portrait tablet
@mixin tablet-landscape-and-up {
  @media only screen and (min-width : $mq-tablet-portrait + 1) {
    @content;
  }
}

// desktop
// ------------------------------

// Everything larger than a landscape tablet
@mixin desktop-and-up {
  @media only screen and (min-width : $mq-tablet-landscape + 1) {
    @content;
  }
}

// Everything below and including the desktop 
@mixin desktop-and-below {
  @media only screen and (max-width : $mq-desktop) {
    @content;
  }
}

// Everything larger than a landscape tablet but less than or equal to the desktop
@mixin desktop-and-below {
  @media only screen and (min-width : $mq-tablet-landscape + 1) and (max-width : $mq-desktop) {
    @content;
  }
}

// retina
// ------------------------------

// Retina screens have a 1.5 pixel ratio, not 2
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    @content;
  }
}

@include retina() {
  //headerClient
  #headerClient {    
    height: auto;
    background: url('../images/seu-reforco-online.jpg')top center no-repeat;    
    background-size: cover;
    padding-bottom: 40px;
    .cadastro {
      margin-top: 95px;
      h2 {
        font-size: 1.3rem;
      }      
      small {
        display: block;
        font-size: 0.7rem;
      }
    }
    .login-aluno {
      margin-top: 250px;
    }
  }  
  #retorno {
    display: block;
  }
  #navbarENEM {
    .new_user {
      color: #ffffff;
    }
  }
}

@include mobile-only() {

  #retorno {
    position: relative;
  }
 
  //NavClient
  .navClient {
    background: #FFFFFF !important;
    .navbar-brand {
      img {
        height: 40px;
      }    
    }
    .navbar-nav {
      .nav-item {
        &:after {
          display: none;
        }
      }
    }
  }
  

#form-login {
  height: 100px;
  .link-simple {
    display: block;
    color: #000000;
    margin-left: 0;

    position: absolute;
    width: 280px;
    top: 50px;
    left: -130px;
    z-index: 1;
  }
  .row {
    padding: 1.0rem;
  }
}

.navbar-toggler {
  padding-right: 0;
}

.collapse {
  form {
    background: #398C36;
    padding: 0.5rem;
    .form-control {
      margin-bottom: 0.6rem;
    }
    .btn-client {
      margin-top: 0.4rem;
      width: 100%;
    }
  }  
}

.profile_top {
  margin-right: 0 !important;  
  text-align: center;  
  .user {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
    
    span {
      color: #000;
      font-size: 0.9rem;
      font-weight: bold;
      max-width: 175px;
      overflow: hidden;
      margin-bottom: 0.8rem;
      &:before{
        content: 'Seja bem vindo(a):';        
        margin: 0.3rem auto;
        display: block;
        font-size: 0.6rem;  
      }
    }
    figure {
      margin-left: 0.5rem;
      img {
        width: 32px !important;
        height: auto;
      }
    }
  }
}

  //headerClient
  #headerClient {
    background: #398C36;
    height: auto;
    padding-bottom: 0.8rem;
    .lembrar-senha {
      margin-top: 140px;
    }
    .login-aluno,
    .cad-sucesso {
      margin-top: 90px; 
    }
  }

  .disciplinas-home {
    ul {
      justify-content: space-between;
      li {
        flex: 45%;
        max-width: 45%;
      }
    }
  }

  .bt-footer {
    font-size: 0.9rem !important;
  }

  .title {
    h2 {
      font-size: 1.5rem;
    }    
  }

  // .filter_dis {
  //   width: 100% !important;
  //   margin-top: 1.0rem;
  // }

  .sec-default{
    &.intern {
      margin-top: 0.5rem;
    }
  }

  .video_aula {
    .frame_video{
      &:after {
        height: 96px;
        bottom: 76px;
      }
    }
  }

  ///Internas
  #headerClient_interna {
    margin-top: 80px;
    margin-bottom: 0px;
  }

  .book {
    width: 150px;
  }
  .grid-g {
    display: grid;
    grid-template-columns: 1fr;
    .col {
      text-align: center;
      .mat-apoio {
        grid-template-columns: 1fr;
        a {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  .min-video {
    img {
      width: 280px;
      margin: 0 auto !important;
    }

  }
  //Footer
  footer {
    padding: 1.5rem 0 0.5rem;
    text-align: center !important;
    img {
      max-height: 50px !important;      
    }
    .copy {
      font-size: 0.7rem;
    }
    .navFooter {
      display: none;
    }
  }
}
@include mobile-portrait-only() {}

