//Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,700&display=swap);
$regular: 400;
$semi-b : 600;
$bold   : 700;

//Colors
$white      : #FFFFFF;
$gray-clean : #F2F2F2;
$gray       : #F5F5F5;
$gray-2     : #ABADB1;
$gray-3     : #D5CFE9;
$black      : #58595B;
$green      : #398C36;
$green2     : #C1DBC0;
$green3     : #B4CA34;

//Mixins Border-radius
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

//shadow
@mixin box-shadow () {
  box-shadow: 0 .435rem .85rem rgba(0,0,0,0.4) !important;
}

@mixin gradient-fps (){
    background-color: rgb(117,124,47);
    background-color: -moz-radial-gradient(circle, rgba(117,124,47,1) 29%, rgba(84,126,52,1) 100%);
    background-color: -webkit-radial-gradient(circle, rgba(117,124,47,1) 29%, rgba(84,126,52,1) 100%);
    background-color: radial-gradient(circle, rgba(117,124,47,1) 29%, rgba(84,126,52,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#757c2f",endColorstr="#547e34",GradientType=1);
}

//Extends
%df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


//Placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $black !important;  
  font-size: 1.0rem;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $black !important;  
  font-size: 1.0rem;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $black !important;  
  font-size: 1.0rem;
}
:-moz-placeholder { /* Firefox 18- */
  color: $black !important;  
  font-size: 1.0rem;
}

.form-check {
  margin-bottom: 0.8rem;
  label {
    font-size: 0.7rem;
  }
}

//Title
.title {
  padding-bottom: 1.0rem;
  h2 {
    color: $gray-2;
    font-weight: $bold;
    &:after {
      content: '';
      width: 50px;
      height: 5px;
      display: block;
      background: $green3;
    }
  }
  &.t_flx {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
h4 {
  color: $gray-2;
  font-weight: $bold;
}
h3 {
  margin-top: 1.0rem;
  margin-bottom: 1.8rem;
  font-size: 1.2rem;
  color: $green;
  font-weight: $bold;
}
.a-center {
  align-items: center;
}

.white-space {
  width: 100%;
  height: 40px;
  display: block;  
}

.disciplinas-home {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;     
    li {
        text-align: center;
        flex: 40%;
        max-width: 40%;
        padding: 0.8rem 1.5rem;
        margin: 0.2rem;
        @include border-radius (4px);
        background: $gray;
        color: $black;
    }
  }
}

//Animation
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.btn-client-drop {
  background: $green3;
  color: $white;
  width: 100%;
  text-align: left;  
}
.btn-sair,
.btn-client {
  background: $green3;
  color: $white;
  transition: 0.3s;  
  padding: 0.3rem 1.0rem;
  @include border-radius (100px);
  &:hover {
    background: $green;
    color: $white;
    transition: 0.3s;
    text-decoration: none;
    @include box-shadow();
  }
  &.bt-footer {
    display: table;
    padding: 0.5rem 1.5rem;
    margin: 2.0rem auto;
    font-size: 1.2rem;
  }            
}

.btn-sair {
  text-align: center;
  padding: 0.3rem 1.5rem !important;
}

.link-simple {
  color: $white;
  font-size: 0.8rem;
  text-decoration: underline;
  transition: 0.2s;
  &:hover {
    color: $green3;
    transition: 0.2s;
  }
}

#login,
#form-login {
  margin-left: auto;
  display: flex;
  .link-simple {
    display: block;
    color: $white;
    padding-top: 0.4rem;
  }
  .btn-client {
    //margin-left: 1.5rem;
  }
  .col {
    &:nth-child(2) {
      margin-left: 1.5rem; 
      margin-right: 0;
    }
  }
}

body {  
  font-family: 'Rubik', sans-serif;
}

//NavClient
.navClient {
  background-color: transparent !important;
  background: url('../images/bg-header@2x.png')top center no-repeat;
  transition: 0.3s;
  &.fixClient {
    background-color: $white !important;
    position: fixed;
    @include box-shadow ();
    width: 100%;
    z-index: 999;
    transition: 0.3s;
    .navbar-brand {
      img {}    
    }
  }
  .navbar-brand {
    img {
      height: 88px;
    }    
  }
  .navbar-nav {
    .nav-item {
      position: relative;
      padding-right: 10px;      
      .nav-link {
        color: $green;
      }
      &:hover {
        .nav-link {
          color: $green3;
        } 
      }
      &.active {
        .nav-link {
          color: $green3;
          &:after {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background: $green;
          }
        }
      }
    }
  }
  .navbar-toggler {
    border: 0;
    .home_login {
      margin-bottom: 0;
      &:before {
        content: 'Login:';
        display: inline-block;
        margin-right: 0.7rem;
        font-size: 1.0rem;
      }
    }
  }
}

form {
  label {
    &.error {
      background: #ffd5d5;
      color: #F44336;
      font-size: 0.6rem;
      padding: 0.2rem 0.4rem;
      margin-bottom: 0;
      @include border-radius (4px);
    }
  }
  .col {
    position: relative;
    label {
      &.error {
        position: absolute;
        top: 42px;
        z-index: 10;
      }
    }
  }
}

//success
#success {
  padding: 2.0rem 0.5rem;
  text-align: center;
  color: $white;
  background: $green2;
  .clearfix {
    height: 40px;
  }
  .title {
    font-weight: $bold;    
  }
  p {
    margin-bottom: 30px;
  }
  .buttons-Success {
    display: flex;
    justify-content: center;
  }
  .btnDefault {
    margin: 20px;
    display: table;
    padding: 1.0rem ;
    font-size: 1.4rem ;
    &:hover {
      background: $white !important;
      color: $green2 !important;
    }
  }
  ul {
    &.socialShare {
      list-style: none;
      margin:  0 0 10px;
      padding: 0;
      text-align: center;
      li {
        display: inline-block;
        margin: 0 1.0rem 1.0rem;
        a {
          color: $green2;
          font-size: 1.5rem;
        }
      }
    }
  }
}

//selectpicker
.bootstrap-select {
    width: 100% !important;  
  .dropdown-toggle {    
    overflow: hidden;
    &.bs-placeholder {
      color: $black;
    }
    &.btn-light {
      background: $white;
      border: 1px solid #ced4da;
    }
    &:after {
      content: '';
      background: $gray-3;
      width: 40px;
      height: 40px;
      position: absolute;
      border: 0;
      right: -1px;
    }
    &:before {
      content: '\f078';
      font-family: "FontAwesome";
      position: absolute;
      top: 5px;
      right: 11px;
      color: $black;
      z-index: 2;
    }
  }  
}
.categorias {
  ul {
    list-style: none;
    padding: 0;
    margin: 1.0rem 0;
    li {
      margin-bottom: 0.5rem;
      a {
        display: block;
        padding: 0.5rem;
        color: $white;
        background: $green3;
        @include border-radius(2px);
        transition: all 0.2s;
        &:hover {
          background: $green;
          transition: all 0.2s;
          text-decoration: none;
        }
      }
    }
  }
}

//headerClient
#headerClient {
  background: rgb(117,124,47) url('../images/seu-reforco-online.jpg')top center no-repeat;  
  background-size: auto 594px;
  height: 594px;
  // @include gradient-fps ()
  margin-top: 70px;
  padding-bottom: 50px;
  .login-aluno,
  .cad-sucesso,
  .lembrar-senha,
  .cadastro {
    margin-top: 100px;
    color: $white;
    h2 {
      font-weight: $bold;
      font-size: 1.6rem;
    }
    .btn-client {
      width: 100%;
      font-size: 1.2rem;
      display: block;
      opacity: 1;
      margin-bottom: 0.5rem;
    }
    small {
      display: block;
      font-size: 0.7rem;
    }
  }
  .login-aluno {
    margin-top: 240px;
  }
  .cad-sucesso,
  .lembrar-senha {
    position: relative;
    margin-top: 280px;
    .bt-voltar {
      color: $white;
      position: absolute;
      right: 0;
      top: -50px;
      transition: 0.2s;
      line-height: 30px;
      span {
        text-align: center;
        display: inline-block;        
        width: 30px;
        height: 30px;
        background: $green3;
        margin-left: 0.5rem;
        @include border-radius(100px);
        transition: 0.2s;
      }
      &:hover {
        transition: 0.2s;
        span {
          transition: 0.2s;
          background: $white;
          color: $green;
          @include box-shadow();
        }
      }
    }
  }
}

.t-section  {
  color:$gray-2;
  font-weight: bold;
  font-size: 1.4rem;
  border-bottom: 1px solid $green3;
  position: relative;
  &:before {
    content:'';
    left: 0;
    display: inline-block;
    width: 8px;
    height: 18px;
    background: $green3;
    margin-right: 0.5rem;
  }
}

.sec-default {
  margin-top: 5.0rem;
  margin-bottom: 5.0rem;
  background: url('../images/element-left.svg');
  background-position: left center;
  background-repeat: no-repeat;
}

#navbarENEM {
  align-items: center;
  .new_user {
    display: block;
    margin-top: 0rem;
    padding: 0.5rem 1.0rem;    
    color: $green;
    @include border-radius (6px);
  }
}

.bread-crumb {
  font-size: 0.8rem;
  a {
    color: $green3;
    &:after {
      content: " - ";
      color: $gray-3;
    }
    &:hover {
      text-decoration: none;
      color: $green;
    }    
  }
  span {
    color: $gray-2;
  }
}

///Internas
#headerClient_interna {
  margin-top: 100px;
  margin-bottom: 100px;
}

.card_disc {
  display: block;
  text-align: center;
  margin-bottom: 1.0rem;
  padding: 1.5rem 0.5rem;
  background-color: $green3;  
  @include border-radius(4px);
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  span {
    color: $white;
    font-size: 1.3rem;
    z-index: 1;
    position: relative;
  }
  &:before {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 35px;
    left: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5.2rem;
    content:attr(title);
    z-index: 0;
    color: $green3;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $green;
  }
  &:hover {
    color: $white;
    text-decoration: none;
    background-color: $green !important;
    @include box-shadow();
    transition: 0.3s;
    &:before {
      color: $green;
      -webkit-text-stroke-color: $green3;
    }
  }
}

.profile_top {
  margin-right: 1.0rem;
  .user {
    display: flex;
    align-items: center;
    span {
      color: $white;
      &:before{
        content: 'Seja bem vindo(a):';
        display: block;
        font-size: 0.7rem;  
      }
    }
    figure {
      margin-left: 0.5rem;
      margin-bottom: 0;
    }
  }
}

.book {
  width: 160px;  
  margin: 0 auto;
  .capa {    
    height: 220px;
    display: block;
    background: $gray-clean url('../images/element-book.svg') bottom center no-repeat;
    color: $black;
    border: 1px solid $black;
    margin-bottom: 1.9rem;
    padding: 1.0rem 0.5rem 3.0rem;
    font-weight: $bold;
    font-size: 0.9rem;
    transition: 0.2s;
    span {
      max-height: 120px;
      display: block;
    }
    &:hover {
      background: $green2 url('../images/element-book-hover.svg') bottom center no-repeat;
      border-color: $green3;
      text-decoration: none;
      transition: 0.2s;
      @include box-shadow();
    }
  }
  .btn-client {
    font-size: 0.7rem;
    padding: 0.6rem 0.4rem;
    margin-bottom: 2.0rem;
    text-align: center;
    display: block;
  }
}

.video_aula {
  .frame_video {
    position: relative;
    margin-bottom: 1.0rem;
    &:before {
      content: '';
      width: 100%;
      height: 165px;
      background: transparent;
      top: 0;
      left: 0;
      position: absolute;
    }
    &:after {
      content: '';
      width: 100%;
      height: 122px;
      background: transparent;
      bottom: 50px;
      left: 0;
      position: absolute;
    }
    iframe {
      border: 1px solid $green3;
      width: 100%;
      height: 380px;
      margin-bottom: 0;
    }
  }
}

.card-header {
  background-color: $green3; 
  padding: 0.2rem 0.5rem;
  .btn-link {
    font-weight: $bold;
    color: $green;
    &.collapsed {
      color: $white;
    }
    &:hover {
      color: $green;
      text-decoration: none;
    }
  }
}
.card-body {
  background-color: $gray-clean;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      border-bottom: 1px solid $gray-2;
      padding-bottom: 1.0rem;
      margin-bottom: 1.0rem;
      a {
        color: $black;
        font-size: 0.9rem;
        line-height: 0.6rem;
      }
      &:last-child {
        border: 0;
        margin-bottom: 0;
      }
    }
  }
  &.sub-cat {
    ul {
      li {
        padding-bottom: 0;
        margin-bottom: 0;
        a {
          &:hover {
            color: $green;
            text-decoration: none;
          }
        }
        &.active {
          a {
            font-weight: bold;
            &:hover {
              color: $black;
            }
          }
        }
      }  
    }
  }
}

.grid-g {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
//books v2
.book {
  width: 160px;  
  margin: 0 auto;
  .capa {    
    height: 220px;
    display: block;
    background: $gray-clean url('../images/element-book.svg') bottom center no-repeat;
    color: $black;
    border: 1px solid $black;
    margin-bottom: 1.9rem;
    padding: 1.0rem 0.5rem 3.0rem;
    font-weight: $bold;
    font-size: 0.9rem;
    transition: 0.2s;
    span {
      max-height: 120px;
      display: block;
    }
    &:hover {
      background: $green2 url('../images/element-book-hover.svg') bottom center no-repeat;
      border-color: $green3;
      text-decoration: none;
      transition: 0.2s;
      @include box-shadow();
    }
  }
  .btn-client {
    font-size: 0.7rem;
    padding: 0.6rem 0.4rem;
    margin-bottom: 2.0rem;
    text-align: center;
    display: block;
  }
}
.grid-g {
  .col {
    margin-bottom: 1.0rem;
    span {
      font-size: 0.8rem;
      margin-bottom: 0.4rem;
    }
  }
}
.min-video {
  @include border-radius (4px);
  
  position: relative;
  img {    
    border: 2px solid $green3; 
    cursor: pointer;   
    max-width: 238px;
    margin-bottom: 0.8rem;
    transition: all .2s; 
    &:hover {
      transition: all .2s;
      @include box-shadow ();
    }
  }
  .title-conteudo {
    display: flex;
    align-items: center;
    padding: 0.3rem;
    font-weight: bolder;
    width: 100%;
    height: 60px;
    line-height: 19px;
  }
}
.mat-apoio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  a {
    text-align: center;
    margin-bottom: 1.0rem;
  }  
}


//Footer
footer {
  padding: 1.5rem 0;
  border-top: 1px solid $gray-2;
  text-align: center;  
  p {
    font-size: 0.8rem;
    color: $gray-2;
  }
  figure {
    width: 180px;
    margin: -50px auto 30px auto;
    padding: 0 1.0rem;
    display: block;
    background: $white;
    z-index: 2;
    img {      
      max-height: 220px;          
    }    
  }  
  .navFooter-social {
    list-style: none;
    margin: 1.0rem auto 1.5rem;
    padding: 0;
    width: 100%;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 0.5rem;
      a {
        color: $gray-2;
        font-size: 1.3rem;
        transition: 0.3s;
        &:hover {
          color: $green;
          text-decoration: none;
          transition: 0.3s;
        }
      }
    }    
  }
  &.f_home {
    margin-top: 80px;
    padding-bottom: 0.5rem;
    p {
      font-size: 0.7rem;      
    }
    figure {
      margin-bottom: 5px;
      width: 190px;
      img {
        max-height: 90px !important;
      }
    }
    .navFooter-social {
      margin: 0.4rem auto;
    }    
  }
}

#retorno,
#msgSubmit {
  font-size: 0.9rem;
  &.text-danger,
  &.text-success {
    padding: 0.3rem;
    background: #f9dcdc;
  }
  &.text-success {
    background: #dcf9de ;
  }
}
#retorno {
  font-size: 0.7rem;
  margin-top: 0.2rem;
  position: absolute;
}

.banner-side {
  text-align: center;
  display: block;
  margin: 1.0rem 0;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .mat-apoio {
    display: grid;
    grid-template-areas: 
    "title title"
    "btn1 btn2";
    .title {
      grid-area: title;
    }
    .btn-1 {
      grid-area: btn1;
    }
    .btn-2 {
      grid-area: btn2;
    }
  }
}
//mat-apoio

//Media Queries
@import 'client_style_queries.scss';